<!-- formGroup is a validator from Angular to validate the form fields
ngForm indicates that it is a form to the Angular -->
<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" placeholder="Put your title" formControlName="title" required>

    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="title.errors?.['required']">The title is required!</p>
    </div>
  </div>



  <div class="form-group">
    <label for="description">Description</label>
    <textarea
    placeholder="What happened?"
    formControlName="description"
    required>
    </textarea>
    <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="description.errors?.['required']">The description is required!</p>
    </div>
  </div>

    <div class="form-group">
      <label for="image">Select the best photos to represent this moment</label>
      <input type="file">
    </div>

    <input type="submit" value="{{btnText}}" />
</form>
